*{
    margin: 0;
}
body{
    font-family: 'roboto';
    background-color: #1F2937;
    
}
.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
    
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    font-size: 24px;
    align-items: center;
    margin-bottom: 0px;
    padding-top: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}
li {
    color: #E5E7EB;
    font-size: 18px;
}

h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.hero{
    background-color: #1F2937;
    color: white;
    margin-top: 0px;
    display: flex;
    align-items: flex-start;
    padding-top: 50px;
}
.heading {
    width: 60%;
    text-wrap: wrap;
}
.subheading {
    width: 75%;
    text-wrap: wrap;
    color: #E5E7EB;
    font-size: 18px;
}
button {
    padding: 5px 20px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
}

.section-2 {
    background-color: white;
    color: #1F2937;
}

h2 {
    font-size: 32px;
    font-weight: extra-bold;
    text-align: center;
    padding: 40px;
}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid #3882F6;
    padding: 20px; 
    width: 150px;
    height: 150px;  
  }

  .cards {
    display: flex;
    width: 65%;
    margin: 0 auto;
  }
  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    font-size: 18px;
    width: 200px;
    margin: 0 auto;
  }

  .section-3 {
    background-color: #E5E7EB;
    padding: 50px;
  }

  .quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    width: 65%;
    margin: 0 auto;
    text-align: justify;
  }

  .author{
    text-align: right;
    width: 65%;
    margin: 0 auto;
  }